body {
    background-color: #33223C;
}

#float-heading {
    overflow: hidden;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

#float-heading a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}