body {
    background-color: #33223C;
}

#float-heading {
    overflow: hidden;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

#float-heading a.buttons {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#float-heading a.title {
    float: left;
    display: block;
    color: #000000;
    text-align: left;
    padding: 14px;
    text-decoration: none;
}

#float-heading a.subtitle {
    float: left;
    display: block;
    color: #000000;
    text-align: left;
    padding: 14px;
    text-decoration: none;
}